*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
body{

}
.main{
	width:100%;
	height: auto;
	margin: 50px auto 0 auto;
}
.main h1{
	text-align: center;
	font-family: myFirstFont;
	font-size: 5em;
}
.main h1 a{
	color: #226591;
}
.main h2{
	text-align: center;
	font-family: myFirstFont;
	font-size: 2em;
	margin-top: 25px;
	color: #9b9b9b;
	letter-spacing: 0.05em;
}

.main h2 a{
	color: #3c83af;
}
.main h3{
	font-family: mySecondFont;
	font-size: 1.5em;
	width: 900px;
	margin: 0 auto;
	text-align: right;
}
.main h3 a{
	color: #226591;
}
.content{
	width: 1000px;
	height: auto;
	margin: 30px auto;
}
.content p{
	font-family: myfourthFont;
	line-height: 35px;
	font-size: 1.6em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content span{
	line-height: 35px;
	font-size: 1.6em;
	display: block;
}
.content span a{
	color: #175baa;
	text-decoration: underline;
	width: 850px;
	height: auto;
	font-family: myfourthFont;

}
.content h5{
	text-align: center;
	margin-top: 20px;
}
.content h5 a{
	color:#226591;
	font-family: mySecondFont;
	font-size: 1.5em;
}
.content h2{
	text-align: center;
	font-family: myFirstFont;
	color: #9b9b9b;;
	font-size:2em;
	letter-spacing: 0.05em;
	margin-top: 10px;
}
.content h2 a{
	color: #3C83AF;
}
.content .juzhong{
	margin: 0 auto;
}

.content img {
    display: block;
    margin: auto;
    width: 80%;
}

@font-face{
font-family: myFirstFont;
src: url("../font/Alice_in_Wonderland_3.ttf"); 
}
@font-face{
font-family: mySecondFont;
src: url("../font/Luminari-Regular.ttf"); 
}
@font-face{
font-family: myfourthFont;
src: url("../font/footlight-mt-light-596d4e03e9a02.ttf"); 
}
